{
  "version": "2017-02-28",
  "operation" : "Query",
  "index" : "commentId-index",
  "query" : {
    "expression": "commentId = :commentId",
    "expressionValues" : {
      ":commentId" : {
        "S" : "$ctx.source.id"
      }
    }
  },
  "scanIndexForward": false
}
