{
  "version": "2018-05-29",
  "operation" : "Query",
  "index" : "contentId-index",
  "query" : {
    "expression": "contentId = :contentId",
    "expressionValues" : {
      ":contentId" : {
        "S" : "$ctx.source.id"
      }
    }
  },
  "scanIndexForward": false
}
