{
  "version": "2018-05-29",
  "operation" : "Query",
  "index" : "cantoId-index",
  "query" : {
    "expression": "cantoId = :cantoId",
    "expressionValues" : {
      ":cantoId" : {
        "S" : "$ctx.source.id"
      }
    }
  },
  "scanIndexForward": false
}
