{
  "version": "2017-02-28",
  "operation" : "Query",
  "index" : "streamId-index",
  "query" : {
    "expression": "streamId = :streamId",
    "expressionValues" : {
      ":streamId" : {
        "S" : "$ctx.source.id"
      }
    }
  },
  "scanIndexForward": false
}
