{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "username-index",
  "query" : {
    "expression": "#username = :username",
    "expressionNames" : {
      "#username" : "username"
    },
    "expressionValues" : {
      ":username" : {
        "S" : "$ctx.args.username"
      }
    }
  },
  "limit": 1
}
