{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index" : "streamId-time-index",
  "query" : {
    "expression": "streamId = :streamId",
    "expressionValues" : {
      ":streamId" : {
        "S" : "${ctx.args.streamId}"
      }
    }
  },
  "scanIndexForward": false
}
