{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "contentId-index",
  "query" : {
    "expression": "contentId = :contentId",
    "expressionValues" : {
      ":contentId" : {
        "S" : "${ctx.args.contentId}"
      }
    }
  },
  "scanIndexForward": false
}
