{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "isSealed-startTime-index",
  "query" : {
    "expression": "isSealed = :isSealed",
    "expressionValues" : {
      ":isSealed" : {
        "N" : 0
      }
    }
  },
  "scanIndexForward": false,
  "limit": $util.defaultIfNull(${ctx.args.first}, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.after, null))
}
