{
  "version" : "2018-05-29",
  "operation" : "Query",
  "query" : {
      "expression": "id = :id",
      "expressionValues" : {
          ":id" : $util.dynamodb.toDynamoDBJson($ctx.source.id)
      }
  }
}
