{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "actorUserId-index",
  "query" : {
    "expression": "#actorUserId = :actorUserId",
    "expressionNames" : {
      "#actorUserId" : "actorUserId"
    },
    "expressionValues" : {
      ":actorUserId" : {
        "S" : "$ctx.source.id"
      }
    }
  }
}
