{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "userId-index",
  "query" : {
    "expression": "#userId = :userId",
    "expressionNames" : {
      "#userId" : "userId"
    },
    "expressionValues" : {
      ":userId" : {
        "S" : "$ctx.source.id"
      }
    }
  }
}
