{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) from ContentInteractions Where interactionType='Bookmark' And contentType='stream' And userId=:userId"
  ],
  "variableMap": {
    ":userId": "$util.defaultIfNullOrEmpty($ctx.source.id, '')"
  }
}
