{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) from Flags Where contentType='comment' And contentId=:contentId"
  ],
  "variableMap": {
    ":contentId": "$util.defaultIfNullOrEmpty($ctx.source.id, '')"
  }
}
