{
  "version": "2018-05-29",
  "statements": [
    "Select * from UserInteractions Where actorUserId=:actorUserId Order By targetUserId Desc Limit 10 Offset 0"
  ],
  "variableMap": {
    ":actorUserId": "$util.defaultIfNullOrEmpty($ctx.source.id, '')"
  }
}
