{
  "version": "2018-05-29",
  "statements": [
    "Select * from Flags Where contentType='canto' And contentId=:contentId Order By time Desc Limit 10 Offset 0"
  ],
  "variableMap": {
    ":contentId": "$util.defaultIfNullOrEmpty($ctx.source.id, '')"
  }
}
