## If you modify where clause, please make sure you have modified the query in "listUncloggerPrompts.vm", too
{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) from UncloggerPrompts Where (IsNull(:searchText, '')='' Or (category Like Concat('%', :searchText, '%') Or body Like Concat('%', :searchText, '%'))) And (:status='' Or status=:status)"
  ],
  "variableMap": {
    ":searchText": "$ctx.args.searchText",
    ":status": "$ctx.args.status"
  }
}
