## If you modify where clause, please make sure you have modified the query in "listFlags.vm", too
{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) from Flags Where (:searchText='' Or (category Like Concat('%', :searchText, '%') Or type Like Concat('%', :searchText, '%'))) And (:status='' Or status=:status)"
  ],
  "variableMap": {
    ":searchText": "$util.defaultIfNullOrEmpty($ctx.args.searchText, '')",
    ":status": "$util.defaultIfNullOrEmpty($ctx.args.status, '')"
  }
}
