{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) from ContentInteractions Where interactionType='Bookmark' And (:userId='' Or userId=:userId) And (:contentType='' Or contentType=:contentType)"
  ],
  "variableMap": {
    ":userId": "$util.defaultIfNullOrEmpty($ctx.args.userId, '')",
    ":contentType": "$util.defaultIfNullOrEmpty($ctx.args.contentType, '')"
  }
}
