## If you modify where clause, please make sure you have modified the query in "listContentFlags.vm", too

{
  "version": "2018-05-29",
  "statements": [
    "Select COUNT(*) as count from Flags Where contentId='$ctx.args.contentId'"
  ]
}
