#set($id=$utils.autoId())
#set($nowTime=$util.time.nowISO8601())
{
  "version": "2018-05-29",
  "statements": [
    "Insert Into UncloggerPrompts (id, category, body, language, creatorUserId, createTime, status) Values ('$id', '$ctx.args.input.category', '$ctx.args.input.body', '$ctx.args.input.language', '$ctx.args.input.creatorUserId', '$nowTime', 'Pending')",
    "Select * From UncloggerPrompts Where id='$id'"
  ]
}
