{
    "version": "2018-05-29",
    "statements": [
        "Insert Into prod_ApprovalDb.UncloggerPrompts (Category, Body, Language, CreatorUserId, CreateTime, Status) Values ($ctx.args.input.category, $ctx.args.input.body, $ctx.args.input.language, $ctx.args.input.creatorUserId, NOW(), 'Pending')",
        "Select * From prod_ApprovalDb.UncloggerPrompts Where Category='$ctx.args.input.category' And Body='$ctx.args.input.body'"
    ]
}
