{
  "version": "2018-05-29",
  "statements": [
    "Select * From prod_ApprovalDb.UncloggerPrompts Where Id='$ctx.args.input.id'",
    "Delete From prod_ApprovalDb.UncloggerPrompts Where Id='$ctx.args.input.id'"
  ]
}
