{
  "version": "2018-05-29",
  "statements": [
    "Select * from UserInteractions Where actorUserId=:actorUserId And targetUserId=:targetUserId And (:type='' Or type=:type) Order By id"
  ],
  "variableMap": {
    ":type": "$util.defaultIfNullOrEmpty($ctx.args.type, '')",
    ":targetUserId": "$util.defaultIfNullOrEmpty($ctx.args.targetUserId, '')",
    ":actorUserId": "$util.defaultIfNullOrEmpty($ctx.args.actorUserId, '')"
  }
}
