{
  "version": "2018-05-29",
  "statements": [
    "Select * from Flags Order By id Limit :limit Offset :offset"
  ],
  "variableMap": {
    ":limit": $util.defaultIfNull(${ctx.args.limit}, 20),
    ":offset": $util.defaultIfNull(${ctx.args.offset}, 0)
  }
}
