{
  "version": "2018-05-29",
  "statements": [
    "Select * from prod_ApprovalDb.Flags Order By Id Limit :limit Offset :offset"
  ],
  "variableMap": {
    ":limit": $util.defaultIfNull(${ctx.args.first}, 20),
    ":offset": $util.toJson($util.defaultIfNullOrBlank($ctx.args.offset, null))
  }
}
