## If you modify where clause, please make sure you have modified the query in "countFlags.vm", too
{
  "version": "2018-05-29",
  "statements": [
    "Select * from Flags Where (:searchText='' Or (category Like Concat('%', :searchText, '%') Or type Like Concat('%', :searchText, '%'))) And (:status='' Or status=':status' ) Order By id Limit :limit Offset :offset"
  ],
  "variableMap": {
    ":limit": $util.defaultIfNull(${ctx.args.limit}, 10),
    ":offset": $util.defaultIfNull(${ctx.args.offset}, 0),
    ":searchText": $util.defaultIfNull(${ctx.args.searchText}, ""),
    ":status": $util.defaultIfNull(${ctx.args.status}, "")
  }
}
