#set($nowTime=$util.time.nowISO8601())
{
  "version": "2018-05-29",
  "statements": [
    "Update Flags Set category='$ctx.args.input.category', type='$ctx.args.input.type', detail='$ctx.args.input.detail', lastUpdateTime='$nowTime' Where id='$ctx.args.input.id'",
    "Select * from Flags Where id = '$ctx.args.input.id'"
  ]
}
