#set($nowTime=$util.time.nowISO8601())
{
  "version": "2018-05-29",
  "statements": [
    "Update UncloggerPrompts Set status='$ctx.args.input.status', reviewerUserId='$ctx.args.input.reviewerUserId', reviewNote='$ctx.args.input.reviewNote', reviewTime='$nowTime' Where id='$ctx.args.input.id'",
    "Select * from UncloggerPrompts Where id = '$ctx.args.input.id'"
  ]
}
