#set($nowTime=$util.time.nowISO8601())
{
  "version": "2018-05-29",
  "statements": [
    "Update UncloggerPrompts Set category='$ctx.args.input.category', body='$ctx.args.input.body', language='$ctx.args.input.language', lastUpdateTime='$nowTime' Where id='$ctx.args.input.id'",
    "Select * from UncloggerPrompts Where id = '$ctx.args.input.id'"
  ]
}
