
{
  "version": "2018-05-29",
  "operation": "Query",
  "index": "actorUserId-index",
  "query": {
    "expression": "#actorUserId = :actorUserId",
    "expressionNames": {
      "#actorUserId": "actorUserId",
    },
    "expressionValues": {
      ":actorUserId": $util.dynamodb.toDynamoDBJson($ctx.args.actorUserId),
    },
  },
  "limit": $util.defaultIfNull($ctx.args.first, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.after, null)),
  "scanIndexForward": true,
  "select": "ALL_ATTRIBUTES",
}
