{
  "version": "2018-05-29",
  "operation": "Query",
  "index": "status-lastUpdateTime-index",
  "query": {
    "expression": "#status = :status",
    "expressionNames": {
      "#status": "status",
    },
    "expressionValues": {
      ":status": { "S" : "OK" }
    },
  },
  "limit": $util.defaultIfNull($ctx.args.first, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.after, null)),
  "scanIndexForward": true,
  "select": "ALL_ATTRIBUTES",
}
