
{
  "version" : "2018-05-29",
  "operation" : "Query",
  "index" : "streamId-index",
  "query" : {
    "expression": "streamId = :streamId",
    "expressionValues" : {
      ":streamId" : {
        "S" : "${ctx.args.streamId}"
      }
    }
  },
  "scanIndexForward": false
}
