#set($id=$utils.autoId())
{
    "version": "2018-05-29",
    "statements": [
        "Insert Into UncloggerPrompts 
        (Category, Body, Language, CreatorUserId, CreateTime)
        Values
        ($ctx.args.input.category, $ctx.args.input.body, $ctx.args.input.language, $ctx.args.input.creatorUserId, NOW())
        ",
        "Select * From UncloggerPrompts Where Category='$ctx.args.input.category' And Body='$ctx.args.input.body'"
    ]
}
